<div class="container">
  <p>
  <span class="about">ABOUT</span><br>
  ながのCAKEは全国発送可能なケーキ屋さんです<br>
  お子様からお年寄りのの方までお召し上がりいただけるよう、<br>
  さまざまなバリエーションをご用意してご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。<br>
  </p>
</div>